.wp-block-wpdsfr-badge {
	text-transform: uppercase;
	font-size: var(--wp--preset--font-size--text-sm);
	font-weight: var(--wp--custom--typography--font-weight--bold);
	color: var(--wp--custom--color--decision--text--default--neutral);
	background-color: var(--wp--custom--color--decision--background--contrast--neutral);
	padding: 0 var(--wp--preset--spacing--40);
	border-radius: var(--wp--custom--border--radius--sm);
	width: fit-content;

	&.is-style-info {
		color: var(--wp--custom--color--decision--text--default--info);
		background-color: var(--wp--custom--color--decision--background--contrast--info);
	}

	&.is-style-error {
		color: var(--wp--custom--color--decision--text--default--error);
		background-color: var(--wp--custom--color--decision--background--contrast--error);
	}

	&.is-style-success {
		color: var(--wp--custom--color--decision--text--default--success);
		background-color: var(--wp--custom--color--decision--background--contrast--success);
	}

	&.is-style-warning {
		color: var(--wp--custom--color--decision--text--default--warning);
		background-color: var(--wp--custom--color--decision--background--contrast--warning);
	}

}