/* Note : the headings tags are set in the theme.json */

.has-text-xs-font-size {
	color: var(--wp--custom--color--decision--text--mention--neutral);
}

.has-display-xl-font-size,
.has-display-lg-font-size,
.has-display-md-font-size,
.has-display-sm-font-size,
.has-display-xs-font-size {
	margin-bottom: var(--wp--custom--spacing--4-w);
	font-weight: var(--wp--custom--typography--font-weight--bold);
	color: var(--wp--custom--color--decision--text--title--neutral);
}

.has-text-lead-font-size,
.has-text-font-size,
.has-text-sm-font-size,
.has-text-xs-font-size {
	margin-bottom: var(--wp--custom--spacing--3-w);
}

.has-display-xl-font-size {	line-height: 5.5rem }
.has-display-lg-font-size { line-height: 5rem }
.has-display-md-font-size { line-height: 4.5rem }
.has-display-sm-font-size { line-height: 4rem }
.has-display-xs-font-size { line-height: 3.5rem }
.has-text-lead-font-size { line-height: 2rem }
.has-text-lg-font-size { line-height: 1.75rem }
.has-text-font-size { line-height: 1.5rem }
.has-text-sm-font-size { line-height: 1.5rem }
.has-text-xs-font-size { line-height: 1.25rem }

/* Links */

a {
	text-underline-offset: var(--wp--custom--spacing--1-v);
}

a:hover {
	text-decoration-thickness: 3px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
}