.wp-block-wpdsfr-alert {
	padding:
		var(--wp--preset--spacing--60)
		var(--wp--preset--spacing--85)
		var(--wp--preset--spacing--50)
		var(--wp--preset--spacing--60);
	border-width: 1px;
	border-left-width: var(--wp--preset--spacing--90);
	border-style: solid;
	border-color: var(--wp--custom--color--decision--border--plain--info);
}